@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: rgb(52, 52, 52);
}

h1 {
  font-family: "Pacifico", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
.empty-list {
  text-align: center;
  font-family: "Pacifico", sans-serif;
  font-size: 32px;
  color: #d8d6d6;
}
Track ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Стилі для вертикального скролбару */
::-webkit-scrollbar {
  width: 2px; /* ширина вертикального скролбару */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* фон шляху вертикального скролбару */
}

::-webkit-scrollbar-thumb {
  background: #888; /* колір "ползунка" вертикального скролбару */
  border-radius: 2px; /* заокруглені кути "ползунка" */
}

::-webkit-scrollbar {
  height: 0px;
}
